html{
    font-size: 25px;
}
*{
    margin: 0px;
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
   

}

.container{
    width: 100vw;
    height: 100vh;
}
.game{
    /* width: 100%; */
    width: 80rem;
    height: 100%;
    /* height: 20rem; */
    /* aspect-ratio: 16/9; */
    
    display: grid;
    grid-template-rows: 5fr 1fr;
}
.board{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 0.2fr;
    background-color: rgb(0, 153, 255);
}
.player{
    /* width: 5rem;
    height: 5rem; */
    width: 5rem;
    height: 10rem;
    background-color: rgb(71, 18, 133);
    position: absolute;
    /* bottom:0px; */
}


.player .entityHP{
 position: relative;
    top: -35px;
    
    text-align: center;
}




.background{
    grid-column: 1/13;
    grid-row: 1/2;
    background-color: rgb(0, 153, 255);
    position: relative;
    /* background-image: url("img/bg/grass.png");
     */
    /* background-repeat: repeat-x; */
}


.grass{
    /* background-color: rgb(70, 221, 0); */
    grid-column: 1/13;
    grid-row: 2/3;
    /* background-color: rgb(0, 153, 255); */
    background-image: url("./img/bg/grass.png");
    background-repeat: repeat-x;
    z-index: 5;
}

.base{
    width: 12rem;
    height: 15rem;
    background-color: rgb(0, 78, 13);
    position: absolute;
    /* background-image: url("./img/a.png"); */
    /* background-repeat: no-repeat; */
}

/* Animations */

@keyframes spawn {

    0%{
        transform: translateY(-800px);
    }
   60%{
    transform: translateY(10px) scaleX(1.2);
    

   }

   100%{
    transform: translateY(0px);
   }
}


/* panel */

.panel{
    background-color: rgb(46, 21, 3);
}

.statusBox{
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
}